body {
    font-family: 'Poppins', sans-serif;
}
.header-bg {
    background-image: url(../img/Group\ 72.png);
    width: 100%;
    height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
}
.d-flex {
    display: flex;
}
.container {
    width: 1700px;
    margin: 0 auto;
}
.head-p {
    font-size: 20px;
    color: white;
    margin-top: 25px;
}
.nav-a {
    color: white;
    font-size: 15px;
}
.nav-li {
    margin-top: 25px;
    margin-right: 50px;
}
.navigation-wraper {
    justify-content: space-between;
}
.div-h2 {
    font-size: 50px;
    color: white;
}
.div-h3 {
    color: white;
    font-size: 20px;
    margin-top: 25px;
}
.psevdo-h3::after {
    content: " ";
    width: 3px;
    height: 20px;
    margin: 0 15px;
    background-color: white;
    display: block;
}
.head-div2 {
    margin-top: 100px;
}